* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --card-primary-color: #F7DD43;
  --card-title-border-color: #746615;
  --card-bg-color: #1D1C19;
  --bg: url(assets/bg-yellow.svg);
}

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #121214 var(--bg) no-repeat top center/cover;
}

body#blue {
  --card-primary-color: #338AF3;
  --card-title-border-color: #338AF3;
  --card-bg-color: #202024;
  --bg: url(assets/bg-blue.svg);
}

body#green {
  --card-primary-color: #047C3F;
  --card-title-border-color: #047C3F;
  --card-bg-color: #1A1F1B;
  --bg: url(assets/bg-green.svg);
}

#app {
  width: fit-content;

  margin: auto;
  padding: 52px 18px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  padding: 32px 23px;

  text-align: center;

  background: var(--card-bg-color);

  border-bottom: 2px solid var(--card-primary-color);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  margin-inline: auto;
  margin-bottom: 53px;

  width: fit-content;

  color: #F7DD43;
  font-size: 24px;

  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;
}

.card h2 span {
  color: #E1E1E6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  list-style: none;

  display: grid;
  gap: 24px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 270px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li img {
  width: 50px;
}

.card ul li strong {
  color: #E1E1E6;
  font-size: 36px;
  font-weight: 900;
  line-height: 125%;
}

/* ANIMATION */

.card {
  opacity: 0;
  animation: appear 1s forwards;
}

.card h2:hover,
.card ul li img:hover,
.card ul li strong:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li img,
.card ul li strong {
  transition: transform 0.3s;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media Query */

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}